.down_button {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  position: relative;
  bottom: 19em;
  left: 37em;
  background: #ff5858;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 64px;

  img {
    padding-bottom: 0.25em;
    transform: rotate(180deg);
    height: 2.5em;
  }
}
