.button {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  position: relative;
  bottom: 4em;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 64px;

  img {
    height: 2.5em;
  }

  &.up_button {
    left: 7em;
    background: #58ff69;
  }

  &.down_button {
    left: 8em;
    background: #ff5858;

    img {
      transform: rotate(180deg);
    }
  }
}
