.button {
  .up_button {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: relative;
    bottom: 19em;
    left: 36em;
    background: #58ff69;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    border-radius: 64px;

    img {
      height: 2.5em;
    }
  }

  .down_button {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: relative;
    bottom: 19em;
    left: 37em;
    background: #ff5858;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    border-radius: 64px;

    img {
      //adding-bottom: 0.25em;
      transform: rotate(180deg);
      height: 2.5em;
    }
  }
}
