.up_button {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  position: relative;
  bottom: 19em;
  left: 36em;
  background: #58ff69;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 64px;

  img {
    //padding-top: 1em;
    height: 2.5em;
  }
}
