.chat {
  display: flex;
  height: auto;
  max-width: 800px;
  margin: 3rem auto;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-direction: column;
  overflow-y: auto;
}

.msg {
  background-color: #ff00b8;
  border-radius: 100px;
  text-align: right;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}

.left {
  text-align: left;
  background-color: #00536d;
}

.right {
  text-align: right;
  align-self: flex-end;
}
