.container {
  margin: 0em auto;
  display: flex;
  padding: 0;
  margin-bottom: 4em;
  justify-content: center;
  justify-self: end;
  width: 90%;
  max-width: 1000px;
}

.form {
  display: flex;
  align-content: center;
  width: 80%;
  max-width: 1000px;

  input {
    flex: 2;
    display: block;
    border-radius: 8px;
    font-size: 1.6em;
  }

  button {
    flex: 1;
    max-width: 200px;
  }
}
