@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: flex-start;
  margin: 2em;
  height: 12em;
  width: 35em;
  background-color: #00536d;
  opacity: 50%;
  border-radius: 6.1em;
  box-shadow: inset 8px 8px 0px rgba(0, 0, 0, 0.55);

  .loading {
    margin: auto;
    width: 5rem;
    filter: brightness(200%);
    animation: rotate 1s linear infinite;
  }
}
