.card {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: flex-start;
  margin: 2em;
  height: 12em;
  width: 35em;
  background-color: #00536d;
  border-radius: 2em 4em 2em 4em;
  box-shadow: inset 6px 6px 0px rgba(0, 0, 0, 0.55);

  .loading {
    margin: 0 auto;
    padding-top: 1.7em;
  }
}
