@import "../library";

.card {
  display: flex;
  margin: 2em;
  height: 12em;
  background-color: $card-background-color;
  border-radius: 0.8rem;
  word-wrap: break-word;
  cursor: pointer;
  position: relative;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1), -6px 0px 12px rgba(0, 0, 0, 0.1);
  width: 30em;

  &:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15), -2px 0px 8px rgba(0, 0, 0, 0.1);
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 1em;

    h2 {
      font-size: 2rem;
      padding-left: 1em;
      margin: 0;
      color: $card-text-color;
    }

    p {
      padding-right: 8em;
      padding-left: 1em;
      margin-right: -50px;
      background-color: white;
      padding-top: 0em;
      height: 9em;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $card-text-color;
    }
  }
}

img {
  width: 14rem;
  height: 14rem;
  border-radius: 200px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15),
    -2px -2px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: -30%;
  top: -12px;
}
