.card {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  justify-content: space-between;
  margin: 2em;
  height: 20em;
  width: 40em;

  div {
    margin: auto;
    margin-bottom: 3.5em;
  }
}
