@import "../library";

aside {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-top: 8em;

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  button {
    margin: 0 auto;
  }

  div {
    height: 20em;
    margin-bottom: 2em;
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-duration: 1s;
  animation-name: bounceOut;
}
