.card {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: flex-start;
  margin: 2em;
  height: 12em;
  width: 35em;
  background-color: white;
  border-radius: 6.1em;
  border-style: solid;
  border-color: lightgray;
  word-wrap: break-word;

  img {
    z-index: 0;
    border-radius: 50% 0px 0px 50%;
    height: 12em;
    width: 12em;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: flex-start;
    border-radius: 6em;
    width: 22em;
    background-color: white;

    header {
      display: flex;
      flex-direction: row;
      justify-items: space-between;
      justify-content: space-between;
      border-radius: 8em;
      padding-left: 1em;
      width: 18em;
      height: 3em;
      background-color: white;

      h2 {
        margin: 0;
        padding-top: 0.4em;
        color: #00536d;
        bottom: 0;
        border-radius: 8em;

        background-color: white;
      }

      #name {
        padding-top: 0.1em;
        font-size: 2em;
      }
    }

    p {
      background-color: white;
      margin: 0;
      padding: 1em;
      padding-bottom: 0em;
      height: 9em;
      border-radius: 5em;
      word-break: break-word;
    }
  }
}
