@import "../library";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $nav-color;
  border-bottom: 1px solid #dddddd;

  &:nth-child(2) {
    margin-left: auto;
  }

  * {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
}

.logo {
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.03em;
  color: $logo-color;
  text-shadow: -2px -4px 0px $logo-shadow1-color,
    2px 4px 0px $logo-shadow2-color;
}
