@import "../library";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-color;
  border-bottom: 1px solid #dddddd;

  &:nth-child(2) {
    margin-left: auto;
    margin-left: 1em;
    margin-right: 1em;
  }

  * {
    font-size: 1.45rem;
    font-weight: bold;
    text-decoration: none;
  }
  .logo {
    margin-left: 1em;
    margin-right: 0em;
    font-style: italic;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 0.03em;
    color: $logo-color;
    text-shadow: -2px -4px 0px $logo-shadow1-color,
      2px 4px 0px $logo-shadow2-color;
  }
  div {
    margin-left: 1em;
    margin-right: 1em;
    a {
      margin-left: 1em;
    }
  }
}
