.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @import "../library";

  .picname {
    position: relative;
    text-align: center;
    font-size: 2em;
    color: $profile-picture-name-text;
  }
}
