aside {
  display: flex;
  height: 100vh;
  padding: 10%;
  flex-direction: column;
  padding-top: 5.8em;
  // justify-content: space-between;
  // align-items: center;
}

aside * {
  color: #00536d;
}
