@import "../library";

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1em;
  padding-top: 3em;

  h3 {
    font-size: 2em;
    color: $profile-page-bold-text;
    text-align: right;
    width: 5em;
    margin: 1em;
  }
  p {
    font-size: 1.5em;
    width: 40vw;
    text-align: left;
    padding-top: 0.62em;
    word-wrap: break-word;
  }
}
