@import "../library";

.profile_sidebar {
  display: flex;
  padding-top: 6em;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  .profile_links {
    * {
      font-weight: bold;
      text-decoration: none;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $profile-sidebar-text;
      font-size: 1.5em;
      margin: 0.5em;
    }

    button {
      background: none;
      border: none;
      padding: 0;
      margin: 0.5em;
      color: $profile-sidebar-text;
      text-decoration: underline none;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
}
