@import "../library";

.screen {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 24em;
  width: 30em;
  //margin-right: 12.5rem;

  background-color: $nav-color;
  background-image: $svg-pattern;
  border-radius: 3em;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1), -6px 0px 12px rgba(0, 0, 0, 0.1);
}

.input {
  font-size: 1em;
  width: 20em;
  border-radius: 0.5em;
  height: 2.5em;
  margin: 1em;
}

.login_sidebar {
  padding: 0em;
}

.logo {
  margin: 0.5em;
  //margin-right: 15rem;
  font-style: italic;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: 0.03em;
  color: $logo-color;
  text-shadow: -2px -4px 0px $logo-shadow1-color,
    2px 4px 0px $logo-shadow2-color;
}
