$nav-color: #faeee7;
$nav-text: #00536d;

$logo-color: #00536d;
$logo-shadow1-color: #f6d2bc5e;
$logo-shadow2-color: rgba(0, 0, 0, 0.25);

$sidebar-color: #ffb4b4;

$screen-color: #faeee77a;
$screen-header-text: #00536d;

$button-color: #ff8ba7;
$button-text-color: #33272a;

$question-mark-color: white;
$profile-picture-name-text: #00536d;
$profile-sidebar-text: #00536d;
//question mark and background color is in the Picture.jsx file, in style (css/JS) object
// $question-mark-color: #558695;

$profile-page-bold-text: #f295d8;

$card-background-color: white;
$card-text-color: #00536d;
$card-loading-background: #00536d;
